{% extends "::base.html.twig" %}

{% block title %}List of all the users{% endblock %}

{% block body %}
    <h1>List of all the users</h1>
    {% if app.request.get('is_deleted') and app.request.get('username') %}
        <h2>{{app.request.get('username')}} is deleted</h2>
    {% endif %}
    <a href="{{path('user_add')}}" class="pull-right">Add a user</a>
    {% for user in users %}
        <h4>{{user.username}} [created at {{user.created_at|date('d/m/Y')}}]</h4>
        <a href="{{path('user_get', {'username': user.username})}}">Show the user ></a>
        <hr>
    {% endfor %}
{% endblock %}
