{% extends "::base.html.twig" %}

{% block title %}Search the users with Elastica{% endblock %}

{% block body %}
    <h1>Search the users with Elastica</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <a href="{{path('user_list')}}" class="pull-left">Back to the list</a>
        <input type="submit" value="Search" class="pull-right" />
    {{ form_end(form) }}
    <hr>
    <hr>
    {% for user in users %}
        <h4>{{user.username}} [created at {{user.createdAt|date('d/m/Y')}}]</h4>
        <a href="{{path('user_get', {'username': user.username})}}">Show the user ></a>
        <hr>
    {% endfor %}
{% endblock %}